<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <span class="glyphicon glyphicon-th-list"></span> Profile
      </a>
    </h4>
  </div>
  <div class="panel-body">
    Username
    Email
    Reset
    Delete
    {{outlet}}
  </div>
</div>
