<div class="row">
  <div class="col-xs-2">
    <img align=left class="fb-image-profile thumbnail img-circle" src="{{friend-request.image}}"/>
  </div>
  <div class="col-xs-5">
    {{friend-request.username}}
  </div>
  <div class="col-xs-5">
    {{yield}}
  </div>
</div>
