<div class="row">
  <div class="col-xs-2">
    <img align=left class="fb-image-profile thumbnail img-circle" src="{{friend-profile.image}}"/>
  </div>
  <div class="col-xs-8">
    {{friend-profile.username}}<br><br>
    Total Score:{{friend-profile.points}}&emsp; Success Rate: 65%&emsp; More Information!&css
  </div>
  <div class="col-xs-2">
    {{yield}}
  </div>
</div>
