{{yield}}
<div class="checkbox -inline">
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1" checked=Test> Hints
</label>
</div>
{{input type="checkbox" checked=Test}}
