{{yield}}
<div class="checkbox -inline">
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1" checked=foo> Hints
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox2" value="option2" checked=foo> Highlighting
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3" checked=foo> Hot-Streak
</label>
</div>
