<div class="col-sm-4">
  <div class="thumbnail-horizontal thumbnail ">
    <img class="img-responsive img-circle"src="{{image}}">
    <div class="caption">
      <h3>{{title}}</h3>
      <p>{{yield}}</p>
    </div>
  </div>
</div>
