
.achievements-view {
  @extend .panel;

  .achievements-list {
    padding: 0;
  }

}

.icon-frame {
  background-color: #000;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  border: 1px solid #434445;
  border-radius: 3px;
  display: inline-block;
  overflow: hidden;
  padding: 1px;

  img {
    display: block;
    vertical-align: bottom;
  }
}

.icon-frame-50 {
  height: 50px;
  width: 50px;
}

.achievement {
  border: $gray-light 1px solid;
  border-radius: 2px;
  display: block;
  list-style-type: none;
  min-height: 100px;
  position: relative;

  .indicator {
    left: 10px;
    position: absolute;
    top: 74px;

    .glyphicon {
      display: none;
    }

    .glyphicon-minus {
      display: block;
    }
  }

  &.collapsed > .indicator {
    .glyphicon-plus {
      display: block;
    }

    .glyphicon-minus {
      display: none;
    }
  }

  .achievement-text {
    background-color: green;
    display: block;
    margin: 0 95px 0 75px;
    padding: 10px 0 0;
    position: static;
    min-height: 100px;

    strong {
      display: block;
      font-size: 16px;
      position: relative;
    }
  }

  .icon-frame {
    display: block;
    left: 10px;
    position: absolute;
    top: 10px;
  }

  .points {
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    height: 60px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 72px;

    strong {
      color: $white;
      font-size: 33px;
      letter-spacing: -.05em;
      position: relative;
      top: -3px;
    }

    .date {
      display: block;
      font-size: 10px;
      font-weight: normal;
      letter-spacing: 0;
      line-height: 12px;
      position: relative;
      top: -9px;
    }
  }

  .achievement-metadata {
    border-top: $gray-lighter 1px solid;

    > .row {
      margin-top: 10px;
    }

  }
}
