@import "cosmo.variable";

@import "bootstrap";
@import "bootstrap-compass";

@import "cosmo.bootswatch";

.navbar {
  .navbar-badge.badge {
    margin-right: 10px;
    margin-top: -3px;
  }
  .navbar-profile {
    display: flex;
    margin: 10px;
    img {
      height: 55px;
      width: 55px;
    }
    .profile-text {
      min-width: 180px;
      width: 100%;
      margin: auto 5px;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.cs-breakline {
  display: block;
  width: 100%;
  height: 1px;
  margin: 4px 0px;

  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.1) 70%, rgba(0,0,0,0.0) 100%);
  background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.1) 70%, rgba(0,0,0,0.0) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.1) 70%, rgba(0,0,0,0.0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1a000000',GradientType=1 );
}

#welcome.jumbotron {
  margin-top: -20px;
}

.thumbnail-vertical {
  @extend .row;
  > .thumbnail-vertical-body {
    @extend .col-md-10;
    &.body-left {
      @extend .col-md-pull-2;
    }
    > .panel {
      margin-bottom: 0px;
    }
  }
  > .thumbnail-vertical-image {
    @extend .col-md-2;
    &.image-right {
      @extend .col-md-push-10;
    }

    .thumbnail-vertical-object {
      width: 100%;
    }
  }
}


.games {
  @extend .row;
  margin-top: 50px;
}
.DataPorn {
  > .pagination {
    .button {
      border: 0;
      background: grey;
      height: 14px;
      width: 14px;
      border-radius: 30px;
      &:active {
        outline: none;
      }
      &:hover {
        background: #313131
      }
    }
  }
}


footer {
  background-color: #222222;
  color: #fff;

  .footer {
    @extend .row;
    > .footer-column {
      @extend .col-md-4;
      padding-left: 20px;
    }
  }
}
