@import 'poebli.theme';

@import 'global';
@import 'index';

@import 'aboutus';
@import 'friends';
@import 'achievments';

.cs-breakline {
  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.1) 70%, rgba(0,0,0,0.0) 100%);
  background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.1) 70%, rgba(0,0,0,0.0) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.1) 70%, rgba(0,0,0,0.0) 100%);
  display: block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#1a000000',GradientType=1);
  height: 1px;
  margin: 4px 0;
  width: 100%;
}

.thumbnail-vertical {
  @extend .row;

  > .thumbnail-vertical-body {
    @extend .col-sm-9;
    padding: 0;

    &.body-left {
      @extend .col-sm-pull-3;
    }

    > .panel {
      margin-bottom: 0;
    }
  }

  > .thumbnail-vertical-image {
    @extend .col-sm-3;

    &.image-right {
      @extend .col-sm-push-9;
    }

    .thumbnail-vertical-object {
      width: 100%;
    }
  }
}
