@import 'poebli.theme';

@import 'global';

@import 'components/thumbnail-vertical';

@import 'index';
@import 'aboutus';
@import 'friends';
@import 'achievements';

.cs-breakline {
  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.1) 70%, rgba(0,0,0,0.0) 100%);
  background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.1) 70%, rgba(0,0,0,0.0) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.1) 70%, rgba(0,0,0,0.0) 100%);
  display: block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#1a000000',GradientType=1);
  height: 1px;
  margin: 4px 0;
  width: 100%;
}
