body {
  background-color: $gray-darker;
  position: relative;
}

main {
  background-color: $body-bg;
  margin-top: -21px;
  min-height: 85vh;
  padding-bottom: 51px;
}

footer {
  background-color: $gray-darker;
  color: $body-bg;
  position: absolute;
  width: 100%;

  .footer {
    @extend .row;

    > .footer-column {
      @extend .col-sm-4;
      padding-left: 20px;
    }
  }
}

.jumbotron {
  margin-top: -21px;

  &.pagetron {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  &.deceptitron {
    padding: 0;
  }

}

.vertical-center {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
