body {
  background-color: #222222;
}

main {
  background-color: #fff;
  padding-top: 21px;
  margin-top: -21px;
}

footer {
  background-color: #222;
  color: #fff;

  .footer {
    @extend .row;
    > .footer-column {
      @extend .col-sm-4;
      padding-left: 20px;
    }
  }
}

.jumbotron {
  margin-top: -21px;

  &.pagetron {
    height: 100%;
  }

  &.deceptitron {
    padding: 0;
  }

}
