body {
  background-color: #222222;
}

main {
  background-color: #fff;
  padding-top: 21px;
  margin-top: -21px;
}

footer {
  background-color: #222;
  color: #fff;

  .footer {
    @extend .row;
    > .footer-column {
      @extend .col-sm-4;
      padding-left: 20px;
    }
  }
}

.jumbotron {
  margin-top: -21px;

  &.pagetron {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &.deceptitron {
    padding: 0;
  }

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
