body {
  background-color: $gray-darker;
  position: relative;
}

main {
  background-color: $body-bg;
  margin-top: -21px;
  min-height: 75vh;
  padding-bottom: 51px;
  padding-top: 21px;
}

footer {
  background-color: $gray-darker;
  color: $body-bg;
  position: absolute;
  width: 100%;

  .footer {
    @extend .row;

    > .footer-column {
      @extend .col-sm-4;
      padding-left: 20px;
    }
  }
}

.jumbotron {
  margin-top: -21px;

  &.pagetron {

    h1 {
      color: transparent;;
      font-size: 6em;
      padding-bottom: 175px;
    }
    //margin-right: 0;
    //margin-left: 0;
    //padding: 15em;

    background-image: url("/img/triangles.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.deceptitron {
    padding: 0;
    background-image: url("/img/triangles_small.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;

  }

}

.vertical-center {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
