.feature-list {
  padding-bottom: 30px;
}

.game-collection {
  @extend .row;
  padding-bottom: 30px;
}

.sticky-footer {
    position:absolute;
    bottom:0;
    width:100%;
}

.sticky-footer-body {
    position: relative;
    padding-bottom: 3em;
    margin: 0;
    box-sizing: border-box;
    min-height:100%
}

.sticky-footer-main {
  min-height: 85vh;
}
