.leaderboard {

.panel-default {
  border: none;
  padding-right: 0;
  padding-left: 0;
}

  .points {
    padding-right: 0;
    text-align: right;
  }

  .username {
    padding-left: 0;
  }

  .position {
    text-align: right;
  }

  .friend {
    text-align: center;
  }

  .nav {
    display: block;
    padding-left: 44%;
    margin-bottom: 30px;
    border: none;

    .btn-default {
      //background-color: #3e8996;

      .btn-default:active{
        //background-color: #346d77;  
      }


      //border-color: #346d77;
      .btn:active {

      }
    }

  }

}
