.table-leaderboard-header {
  .points {
    text-align: right;
    font-size: 20px;
    margin-top: 15px;
  }

  .username {
    font-size: 20px;
    margin-top: 15px;
  }

  .position {
    text-align: right;
    font-size: 20px;
    margin-top: 15px;
  }

}
