.pretrainer {

    .well{
      background-color: transparent;
      border: 0px;
    }
    .slider.slider-horizontal {
      width: 100%;
      height: 20px;
    }

    .btn-group {
        .btn-block{
          width: 260px;
        }

        .btn-check{
          display:none;
        }

        .btn {
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: #346d77;
            color: white;
        }

        label.active {
          background-color: #3e8996;
          border-color: #346d77;
          text-decoration: underline;
        }

        #beginner {
          background-color: #3498DB;
        }

        #beginner.active {
          background-color: #4b62b3;
          border-color: #3498DB;
        }

        #intermediate {
          background-color: #3FC380;
        }

        #intermediate.active {
          background-color: #40aa58;
          border-color: #3FC380;
        }

        #advanced {
          background-color: #E9D460;
        }

        #advanced.active {
          background-color: #e1e42e;
          border-color: #E9D460;
        }

        #expert {
          background-color:#E87E04;
        }

        #expert.active {
          background-color: rgb(246, 131, 11);
          border-color: #E87E04;
        }

        #impossible {
          background-color:#D64541;
        }

        #impossible.active {
          background-color: #ff0909;
          border-color: #D64541;
        }

    }

}
