.achievement-small {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;

  img {
    width: 80px;
    height:80px;
    border-radius: 50%;
    vertical-align: top;
    margin: 5px
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
