.achievement-small {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;

  img {
    width: 80px;
    height:80px;
    border-radius: 50%;
    vertical-align: top;
    margin: 5px
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.achievement-tooltip {
  background-color: white;
  border-radius: 6px;
  bottom: 120%;
  left: 50%;
  margin-left: -240px;
  padding: 0;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 480px;
  z-index: 1;

  .achievement {
    margin-bottom: 0;
  }
}


.achievement-small:hover .achievement-tooltip {
  visibility: visible;
}
