.category-menu {
  @extend .panel;

  background: 0;
  border: 0;
  box-shadow: none;

  .panel-body {
    padding: 0;
  }
}

.panel-group {
  margin-bottom: 0;

  .panel {
    box-shadow: none;

    + .panel {
      margin-top: 10px;
    }
  }

  .accordion-menu-item {
    border: 0;

    .panel-heading {
      border: $gray-light 1px solid;
      border-bottom: $gray-lighter 1px solid;
      border-radius: 2px 2px 0 0;
      box-shadow: $gray 0 0 3px;
    }

    .accordion-menu-item-body {
      @extend .panel-body;

      margin: 0;
      overflow: hidden;
    }

    .fieser-mieser-effekt {
      box-shadow: $gray 0 0 3px;
      margin: 0 5px;
      padding: 5px;
    }


    .accordion-menu-item-footer {
      @extend .panel-footer;

      background-color: $gray-lighter;
      border: $gray-light 1px solid;
      border-radius: 0 0 2px 2px;
      border-top: 0;
      box-shadow: $gray 0 0 3px;
      padding: 4px 0;
    }
  }
}
