.friend-request {

  li {
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }

  li:hover {
    -webkit-transform: scale3d(1.02,1.02,1);
    transform: scale3d(1.02,1.02,1);
    z-index: 3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
