.table-leaderboard {
    padding-left: 0;
    margin: 0;

    .points {
      text-align: right;
      margin-top: 15px;
    }

    .username {
      margin-top: 15px;
    }

    .position {
      margin-top: 15px;
    }
}
