// StyleSheets
// | - Input-Field-Password
// ----------------------------------------------

$input-field-password-indicator-status-1: #f00;
$input-field-password-indicator-status-2: #cc4000;
$input-field-password-indicator-status-3: #998000;
$input-field-password-indicator-status-4: #66bf00;
$input-field-password-indicator-status-5: #3f0;

.input-field.password {
  .indicator {
    width: 0;

    &.status-1 {
      background: $input-field-password-indicator-status-1;
      width: 20%;
    }

    &.status-2 {
      background: $input-field-password-indicator-status-2;
      width: 40%;
    }

    &.status-3 {
      background: $input-field-password-indicator-status-3;
      width: 60%;
    }

    &.status-4 {
      background: $input-field-password-indicator-status-4;
      width: 80%;
    }

    &.status-5 {
      background: $input-field-password-indicator-status-5;
      width: 100%;
    }

    &.status-error {
      width: 100%;
    }
  }
}
