{{outlet}}
<div class="container">











        <div class="[ container text-center ]">
        	<div class="[ row ]">
        		<div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]" role="tabpanel">
                    <div class="[ col-xs-4 col-sm-12 ]">
                        <!-- Nav tabs -->
                        <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#carl" aria-controls="dustin" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dustinlamont/128.jpg" />
                                    <span class="quote"><i class="fa fa-quote-left"></i></span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#ronja" aria-controls="dustin" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dustinlamont/128.jpg" />
                                    <span class="quote"><i class="fa fa-quote-left"></i></span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#dustin" aria-controls="dustin" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dustinlamont/128.jpg" />
                                    <span class="quote"><i class="fa fa-quote-left"></i></span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#daksh" aria-controls="daksh" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dakshbhagya/128.jpg" />
                                    <span class="quote"><i class="fa fa-quote-left"></i></span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#anna" aria-controls="anna" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/annapickard/128.jpg" />
                                    <span class="quote"><i class="fa fa-quote-left"></i></span>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#wafer" aria-controls="wafer" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/waferbaby/128.jpg" />
                                    <span class="quote"><i class="fa fa-quote-left"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="[ col-xs-8 col-sm-12 ]">
                        <!-- Tab panes -->
                        <div class="tab-content" id="tabs-collapse">
                            <div role="tabpanel" class="tab-pane fade in active" id="carl">
                                <div class="tab-inner">
                                    <p class="lead">Etiam tincidunt enim et pretium efficitur. Donec auctor leo sollicitudin eros iaculis sollicitudin.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Dustin Lamont</strong></p>
                                    <p><em class="text-capitalize"> Senior web developer</em> at <a href="#">Apple</a></p>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="ronja">
                                <div class="tab-inner">
                                    <p class="lead">Etiam tincidunt enim et pretium efficitur. Donec auctor leo sollicitudin eros iaculis sollicitudin.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Dustin Lamont</strong></p>
                                    <p><em class="text-capitalize"> Senior web developer</em> at <a href="#">Apple</a></p>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="dustin">
                                <div class="tab-inner">
                                    <p class="lead">Etiam tincidunt enim et pretium efficitur. Donec auctor leo sollicitudin eros iaculis sollicitudin.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Dustin Lamont</strong></p>
                                    <p><em class="text-capitalize"> Senior web developer</em> at <a href="#">Apple</a></p>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="daksh">
                                <div class="tab-inner">
                                    <p class="lead">Suspendisse dictum gravida est, nec consequat tortor venenatis a. Suspendisse vitae venenatis sapien.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Daksh Bhagya</strong></p>
                                    <p><em class="text-capitalize"> UX designer</em> at <a href="#">Google</a></p>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="anna">
                                <div class="tab-inner">
                                    <p class="lead">Nullam suscipit ante ac arcu placerat, nec sagittis quam volutpat. Vestibulum aliquam facilisis velit ut ultrices.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Anna Pickard</strong></p>
                                    <p><em class="text-capitalize"> Master web developer</em> at <a href="#">Intel</a></p>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="wafer">
                                <div class="tab-inner">
                                    <p class="lead"> Fusce erat libero, fermentum quis sollicitudin id, venenatis nec felis. Morbi sollicitudin gravida finibus.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Wafer Baby</strong></p>
                                    <p><em class="text-capitalize"> Web designer</em> at <a href="#">Microsoft</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        	</div>
        </div>






  <h3 class="text-center">Zigzag Timeline Layout (and Cats)</h3>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <ul class="timeline">
      <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="img/gamification-word-cloud.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step One</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
      </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="img/gamification-word-cloud.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Two</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="img/gamification-word-cloud.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Three</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="img/alchemist_logo.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Three</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="img/alchemist_logo.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Bonus Step</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </li>
      </ul>
</div>
