<div class="jumbotron deceptitron">
  <div class="container">
    <div class="page-header">
      <h1>Achievements<br><small>You got {3} Achivements since visitting the last time!</small></h1>
      <p> daily status bla bla bla lorem ipsum </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-md-9">

    </div>
  </div>
</div>
