<div class="jumbotron deceptitron">
  <div class="container">
    <div class="page-header">
      <h1>Achievements<br><small class="hidden-xs">You got {3} new achivements !</small></h1>
      <p class="hidden-xs hidden-sm"> daily status bla bla bla lorem ipsum </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Category</h2>
        </div>
        <div class="panel-body">
          <ul>
            <li>
              General
            </li>
            <li>
              SQL Trainer
              <ul>
                <li>
                  Statements
                </li>
              </ul>
            </li>
            <li>
              RA Trainer
              <ul>
                <li>
                  Statements
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="achievements-view">
        <div class="panel-heading">
          <h3 class="panel-title">
            SQL Trainer General
          </h3>
        </div>
        <ul class="achievements-list">

          {{#each model as |achievement|}}
            {{#achievement-big achievement}}
            {{/achievement-big}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
