<div class="jumbotron deceptitron">
  <div class="container">
    <div class="page-header">
      <h1>Achievements </h1>
      <h1><small>You got {3} Achivements since visitting the last time!</small></h1>
      <p> daily status bla bla bla lorem ipsum </p>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-flag"></span>Points</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">AchievemtsForTotalPoints</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">AchievemtsForPointsInTime</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">AchievemtsForSomethingElse</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <span class="glyphicon glyphicon-th">
                            </span>SQL</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">AchievemtsForPoints</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">AchievemntsForSomethingElse</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">AchievementsforSucessRate</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>RelationalAlgebra</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">AchievementsForPoints</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">AchievementsForWhatever</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Friends</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="achievements">AchiemenstForAnzahlFriends</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">AchievementsForBashingFriends</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">AchievementsForLoosingAgainstFriend</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="well">
                <h1>
                    Accordion Menu With Icon</h1>
                Admin Dashboard Accordion Menu
            </div>
        </div>
    </div>
</div>
