<div class="jumbotron deceptitron">
  <div class="container">
    <div class="page-header">
      <h1>Achievements<br><small class="hidden-xs">You got {3} new achivements !</small></h1>
      <p class="hidden-xs hidden-sm"> daily status bla bla bla lorem ipsum </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="category-menu">
        <div class="panel-heading">
          <h3 class="panel-title">Category</h3>
        </div>
        <div class="panel-body">
          {{#bs-accordion-menu "categoryMenu"}}
            {{#bs-accordion-menu-item "Achievement" "categoryMenu" true true}}
              {{#bs-accordion-menu "AchievementMenu"}}
                {{#bs-accordion-menu-item "General" "AchievementMenu"}}
                {{/bs-accordion-menu-item}}
                {{#bs-accordion-menu-item "SQL Trainer"}}
                {{/bs-accordion-menu-item}}
                {{#bs-accordion-menu-item "RA Trainer"}}
                {{/bs-accordion-menu-item}}
                {{#bs-accordion-menu-item "TRC Trainer"}}
                {{/bs-accordion-menu-item}}
                {{#bs-accordion-menu-item "DRC Trainer"}}
                {{/bs-accordion-menu-item}}
                {{#bs-accordion-menu-item "Social" "AchievementMenu"}}
                {{/bs-accordion-menu-item}}
              {{/bs-accordion-menu}}
            {{/bs-accordion-menu-item}}
            {{#bs-accordion-menu-item "Rewards" "categoryMenu"}}
            {{/bs-accordion-menu-item}}
          {{/bs-accordion-menu}}
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="achievement-list">
        <div class="panel-heading">
          <h3 class="panel-title">
            SQL Trainer General
          </h3>
        </div>
        <ul class="achievement-list-body">
          {{#each model as |achievement|}}
            {{#achievement-big achievement}}
            {{/achievement-big}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
