<div class="jumbotron deceptitron">
  <div class="container">
    <div class="page-header">
      <h1>Achievements<br><small class="hidden-xs">You got {3} new achivements !</small></h1>
      <p class="hidden-xs hidden-sm"> daily status bla bla bla lorem ipsum </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      {{#bs-accordion-menu}}
        {{#bs-accordion-menu-item "Achievement"}}
          {{#bs-accordion-menu}}
            {{#bs-accordion-menu-item "General"}}
            {{/bs-accordion-menu-item}}
            {{#bs-accordion-menu-item "Trainer"}}
            {{/bs-accordion-menu-item}}
            {{#bs-accordion-menu-item "Social"}}
            {{/bs-accordion-menu-item}}
          {{/bs-accordion-menu}}
        {{/bs-accordion-menu-item}}
        {{#bs-accordion-menu-item "Rewards"}}
        {{/bs-accordion-menu-item}}
      {{/bs-accordion-menu}}
    </div>
    <div class="col-sm-8">
      <div class="achievement-list">
        <div class="panel-heading">
          <h3 class="panel-title">
            SQL Trainer General
          </h3>
        </div>
        <ul class="achievement-list-body">
          {{#each model as |achievement|}}
            {{#achievement-big achievement}}
            {{/achievement-big}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
