<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu-bar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to 'index' class='navbar-brand'}} rdb | Academy {{/link-to}}
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <nav class="collapse navbar-collapse" id="navbar-menu-bar">
        <ul class="nav navbar-nav navbar-right">
          {{#unless session.isAuthenticated}}
            <li>
              {{#link-to "login"}}
                Login
              {{/link-to}}
            </li>
            <li>
              {{#link-to "signup"}}
                Sign Up
              {{/link-to}}
            </li>
          {{else}}
            <li class="dropdown profile">
              <div class="navbar-avatar-container">
                <img src="img/identicon.png" class="avatar-image" />
              </div>
              <a class="dropdown-toggle  hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="navbar-badge badge">1</span>fabiomazzone <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="navbar-profile">
                    <a>
                      <img src="img/identicon.png" class="img-circle"/>
                    </a>
                    <div class="profile-text" >
                      {{#link-to "profile" class="test"}}fabiomazzone{{/link-to}}
                        <span class="cs-breakline"></span>
                      {{#link-to "settings"}}Settings{{/link-to}}
                    </div>
                  </div> <!-- /.navbar-profile -->
                </li>
                <li role="separator" class="divider"></li>
                <li>{{#link-to "home"}}Home{{/link-to}}</li>
                <li>{{#link-to "friends"}}friends <span class="badge pull-right">1</span>{{/link-to}}</li>
                <li>{{#link-to "leaderboard"}}leaderboard{{/link-to}}</li>
                <li>{{#link-to "achievements"}}achievements{{/link-to}}</li>
                <li>{{#link-to "pretrainer"}}pretrainer{{/link-to}}</li>
                <li role="separator" class="divider"></li>
                <li><a {{action 'invalidateSession'}}> log out</a></li>
              </ul> <!-- /.dropdown-menu -->
            </li>
          {{/unless}}
        </ul>
      </nav><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
<main>
  {{outlet}}
</main>
<footer>
  <div class="container container-footer">
    <div class="footer">
      <div class="footer-column">
        <b>Information</b>
          <p>
            {{#link-to "impressum"}}
              Impressum
            {{/link-to}}
          </p>
          <p>
            {{#link-to "aboutus"}}
              About Us
            {{/link-to}}
          </p>
      </div>
      <div class="footer-column">
        <b>Menu</b>
        <p>
          {{#link-to "home"}}
            Home
          {{/link-to}}
        </p>
        <p>
          {{#link-to "profile"}}
            Profile
          {{/link-to}}
        </p>
        <p>
          {{#link-to "friends"}}
            Friends
          {{/link-to}}
        </p>
        <p>
          {{#link-to "leaderboard"}}
            Leaderboard
          {{/link-to}}
        </p>
        <p>
          {{#link-to "achievements"}}
            Achievements
          {{/link-to}}
        </p>
        <p>
          {{#link-to "settings"}}
            Settings
          {{/link-to}}
        </p>
      </div>
      <div class="footer-column">
        <div class="logo-column">
          <img src="/img/TheSQLAlchemist_Logo_Weiss-3000x2100.png"/>
        </div>
      </div>
    </div>
  </div> <!-- /.footer -->
</footer>
