<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu-bar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Poeblis:Academy</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <nav class="collapse navbar-collapse" id="navbar-menu-bar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="navbar-badge badge">1</span>fabiomazzone <span class="caret"></span></a>
          <li>
            <a data-toggle="modal" data-target="#loginModal">
              Login
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-target="#signUpModal">
              Sign Up
            </a>
          </li>
          <li class="dropdown profile">
            <div class="navbar-avatar-container">
              <img src="img/identicon.png" class="avatar-image" />
            </div>
            <a href="#" class="dropdown-toggle  hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="navbar-badge badge">1</span>fabiomazzone <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <div class="navbar-profile">
                  <a>
                    <img src="img/identicon.png" class="img-circle"/>
                  </a>
                  <div class="profile-text" >
                      {{#link-to "profile" class="test"}}fabiomazzone{{/link-to}}
                    <span class="cs-breakline"></span>
                      <a>Settings</a>
                  </div>
                </div> <!-- /.navbar-profile -->
              </li>
              <li role="separator" class="divider"></li>
              <li>{{#link-to "home"}}Home{{/link-to}}</li>
              <li><a href="#">friends <span class="badge pull-right">1</span></a></li>
              <li>{{#link-to "leaderboard"}}leaderboard{{/link-to}}</li>
              <li>{{#link-to "achievments"}}achievements{{/link-to}}</li>
              <li role="separator" class="divider"></li>
              <li><a href="#">log out</a></li>
            </ul> <!-- /.dropdown-menu -->
          </li>
        </ul>
        <form class="navbar-form navbar-right">
          <button type="button" class="btn btn-default">Login</button>
          <button type="button" class="btn btn-default">Sign up</button>
        </form>
      </nav><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
<main>
  {{outlet}}
  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="loginModalTitle">Login</h3>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="loginEmailInputLabel">Email address</label>
                <input type="email" class="form-control" id="loginEmailInput" placeholder="Email">
              </div>
              <div class="form-group col-xs-12">
                <label for="loginPasswordInputLabel">Password</label>
                <input type="password" class="form-control" id="loginPasswordInput" placeholder="Password">
              </div>
              <div class="form-group">
                <div class="col-xs-12 col-sm-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                  <button type="button" class="btn btn-confirm">Login</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="signUpModalTitle">Sign Up</h3>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="signUpEmailInputLabel">Email address</label>
                <input type="email" class="form-control" id="signUpEmailInput" placeholder="Email">
              </div>
              <div class="form-group col-xs-12">
                <label for="signUpUsernameInputLabel">Username</label>
                <input type="username" class="form-control" id="signUpUsernameInput" placeholder="Username">
              </div>
              <div class="form-group col-xs-12">
                <label for="signUpPasswordInputLabel">Password</label>
                <input type="password" class="form-control" id="signUpPasswordInput" placeholder="Password">
              </div>
              <div class="form-group">
                <div class="col-xs-12 col-sm-4 col-sm-offset-8">
                  <button type="button" class="btn btn-confirm">SignUp</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<footer style="background: #222222; color: #fff">
  <div class="container">
    <div class="footer">
      <div class="footer-column">
        <b>Test</b>
          <p>
            {{#link-to "aboutus"}}
              About Us
            {{/link-to}}
          </p>
      </div>
      <div class="footer-column">
        <b>Test2</b>
        <p> girls</p>
      </div>
    </div>
  </div> <!-- /.footer -->
</footer>
