{{outlet}}

<div class="container">
	<div class="row">
    <div class="col-md-9">
      <h1>Friend Requests</h1>
      <table class="table table-list-search">
        <tbody>
          <tr>
            <td width="60"><img height="40" width="40" class="img-circle" src="img/identicon.png"/></td>
            <td width="150">UserName1</td>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                <button class="button" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
            </td>
          </tr>
          <tr>
            <td><img height="40" width="40" class="img-circle" src="img/identicon.png"/></td>
            <td>UserName2</td>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                <button class="button" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
            </td>
          </tr>
          <tr>
            <td><img height="40" width="40" class="img-circle" src="img/identicon.png"/></td>
            <td>UserName3</td>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                <button class="button" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <!-- Placeholder Searchbar -->
    <div class="col-md-3">
      <form action="#" method="get">
        <div class="input-group">
          <input class="form-control" id="system-search" name="q" placeholder="Search User..." required>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
      </form>
    </div>
	</div>
</div>
