{{outlet}}

<div class="container">
	<div class="row">
    <div class="col-md-8">
      <h1>Friends</h1>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td width="60"><img height="50" width="50" class="img-circle" src="img/identicon.png"/></td>
            <td width="120">UserName1</td>
            <td align="right">
              <button class="button" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
            </td>
          </tr>
          <tr>
            <td width="60"><img height="50" width="50" class="img-circle" src="img/identicon.png"/></td>
            <td width="120">UserName1</td>
            <td align="right">
              <button class="button" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>










    <div class="col-md-4">
      <!-- Placeholder Searbar! -->
      <form action="#" method="get">
        <div class="input-group">
          <input class="form-control" id="system-search" name="q" placeholder="Search User..." required>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
      </form>
      <br>
      <h1>Friend Requests</h1>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td width="60"><img height="40" width="40" class="img-circle" src="img/identicon.png"/></td>
            <td width="120">UserName1</td>
            <td align="right">
              <div class="btn-group" role="group" aria-label="...">
                <button class="button" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
            </td>
          </tr>
          <tr>
            <td><img height="40" width="40" class="img-circle" src="img/identicon.png"/></td>
            <td>UserName2</td>
            <td align="right">
              <div class="btn-group" role="group" aria-label="...">
                <button class="button" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
            </td>
          </tr>
          <tr>
            <td><img height="40" width="40" class="img-circle" src="img/identicon.png"/></td>
            <td>UserName3</td>
            <td align="right">
              <div class="btn-group" role="group" aria-label="...">
                <button class="button" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
</div>
