{{outlet}}
<div class="jumbotron deceptitron">
  <div class="container">
    <div class="page-header">
      <h1>Hi {username}! <br class="visible-sm visible-xs"><small>Haven't seen you in a while! </small></h1>
      <p> daily status bla bla bla lorem ipsum </p>
    </div>
    <div class="newsticker" >
      {{#home-news-ticker}}
        <li>Test1</li>
        <li>Test2</li>
        <li>Test3</li>
        <li>Test4</li>
        <li>Test5</li>
      {{/home-news-ticker}}
    </div>
  </div>
</div>
<div class="container">
  <div class="feature-list">
    {{#thumbnail-vertical "SQL" "img/sql_green.png"}}
        Discription: <br>
        last time played: <br>
        current status: <br>
        earned points: <br><br>
        <p><a href="#" class="btn btn-default" role="button">Start Now</a></p>
    {{/thumbnail-vertical}}
    {{#thumbnail-vertical "Relational Algebra" "img/sql_blue.png" true}}
    Discription: <br>
    last time played: <br>
    current status: <br>
    earned points: <br><br>
        <p><a href="#" class="btn btn-default" role="button">Start Now</a></p>
    {{/thumbnail-vertical}}
    {{#thumbnail-vertical "SQL-Alchemist" "img/sql_red.png"}}
    Discription: <br>
    last time played: <br><br>
        <p><a href="https://sqlalchemist.ifis.cs.tu-bs.de/" class="btn btn-default" role="button">Go to SQL-Alchemist!</a></p>
    {{/thumbnail-vertical}}
    {{#thumbnail-vertical "Leaderboards" "img/sql_diamond.png" true}}
    Discription: <br>
    last time played: <br>
    current status: <br>
    earned points: <br><br>
        <p><a href="#" class="btn btn-default" role="button">Start Now</a></p>
    {{/thumbnail-vertical}}
  </div>
</div>
