{{outlet}}
<div class="jumbotron deceptitron">
  <div class="container">
    <div class="page-header">
      <h1>Hi {username}! <br class="visible-sm visible-xs"><small class="hidden-xs">Haven't seen you in a while! </small></h1>
    </div>
    <div class="newsticker hidden-xs" >
      {{#home-news-ticker}}
        <li>Newsticker!</li>
        <li>Interessante Information über deine Freunde</li>
        <li>Peter hat 20000 punkte mehr als du!</li>
        <li>Random Fact</li>
      {{/home-news-ticker}}
    </div>
  </div>
</div>
<div class="container">
  <div class="feature-list">
    {{#thumbnail-vertical "SQL" "img/sql_green.png"}}
        Discription: <br>
        last time played: <br>
        current status: <br>
        earned points: <br><br>
        <p><a href="#" class="btn btn-default" role="button">Start Now</a></p>
    {{/thumbnail-vertical}}
    {{#thumbnail-vertical "Relational Algebra" "img/sql_blue.png" true}}
    Discription: <br>
    last time played: <br>
    current status: <br>
    earned points: <br><br>
        <p><a href="#" class="btn btn-default" role="button">Start Now</a></p>
    {{/thumbnail-vertical}}
    {{#thumbnail-vertical "SQL-Alchemist" "img/sql_red.png"}}
    Discription: <br>
    last time played: <br><br>
        <p><a href="https://sqlalchemist.ifis.cs.tu-bs.de/" class="btn btn-default" role="button">Go to SQL-Alchemist!</a></p>
    {{/thumbnail-vertical}}
    {{#thumbnail-vertical "Leaderboards" "img/slq_diamond.jpg" true}}
    Discription: <br>
    last time played: <br>
    current status: <br>
    earned points: <br><br>
        <p><a href="#" class="btn btn-default" role="button">Start Now</a></p>
    {{/thumbnail-vertical}}
  </div>
</div>
