{{outlet}}
<div class="container">
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Impressum</h1>
      </div>
      <div class="panel-body">
        <h2>Adresse:</h2>
          Technische Universität Braunschweig <br>
          Institut für Informationssysteme <br>
          Mühlenpfordtstr. 23 <br>
          38106 Braunschweig <br>
          Telefon: +49 (531) 391-7442 (Sekretariat) <br>
          E-Mail: informationssysteme@tu-braunschweig.de <br>
        <h2>Verantwortlich:</h2>
          Prof. Dr. Wolf-Tilo Balke <br>
        <h2>Rechtsform:</h2>
          Die Technische Universität Braunschweig ist eine Körperschaft des Öffentlichen Rechts. <br>
        <h2>Umsatzsteuer-ID-Nummer:</h2>
          DE 152330858 <br>
      </div>
    </div>
  </div>
</div>
