<div class="jumbotron pagetron">
  <div class="container">
    <img id="pagetron-logo" src="/img/rdb_academy_logo.png"/>
  </div>
</div>
<div class="container index">
  <div class="feature-list">
    {{#each model.features as |feature index|}}
      {{#thumbnail-vertical feature.title feature.image (is-odd index)}}
        {{feature.description}}
      {{/thumbnail-vertical}}
    {{/each}}
  </div> <!-- /.Feature-List -->
  {{outlet}}
  <div class="game-collection">
    {{#each model.applications as |application|}}
      {{#thumbnail-horizontal application.title application.image}}
        {{application.description}}
      {{/thumbnail-horizontal}}
    {{/each}}
  </div> <!-- /.Games -->
  <h1 id="index-header">Top 3</h1>
  <div class="container">
    <ul class="table-leaderboard" id="leaderboard">
      {{#each model.leaderboards as |table-leaderboard index|}}
          {{#table-leaderboard table-leaderboard}}
          {{/table-leaderboard}}
      {{/each}}
    </ul>
  </div>
</div>
