<div class="jumbotron pagetron">
<!--<img src="/img/pagetron.png" alt="" />-->
  <div class="container">
    <h1>sql:academy</h1>
  </div>
</div>
<div class="container">
  <h1>Features</h1>
  <div class="feature-list">
    {{#each model.features as |feature index|}}
      {{#thumbnail-vertical feature.title feature.image (is-odd index)}}
        {{feature.description}}
      {{/thumbnail-vertical}}
    {{/each}} -->
  </div> <!-- /.Feature-List -->
  {{outlet}}
  <h1>Applications</h1>
  <div class="game-collection">
    {{#each model.applications as |application|}}
      {{#thumbnail-horizontal application.title application.image}}
        {{application.description}}
      {{/thumbnail-horizontal}}
    {{/each}}
  </div> <!-- /.Games -->
  <h1>Top 3</h1>
  <div class="container">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>rank</th>
          <th>username</th>
          <th>points</th>
          <th>successrate</th>
          <th>achievementpoints</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12</td>
          <th>fabiomazzone</th>
          <td>12839012</td>
          <td>100%</td>
          <td>1280</td>
        </tr>
        <tr>
          <td>12</td>
          <th>fabiomazzone</th>
          <td>12839012</td>
          <td>100%</td>
          <td>1280</td>
        </tr>
        <tr>
          <td>12</td>
          <th>fabiomazzone</th>
          <td>12839012</td>
          <td>100%</td>
          <td>1280</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <ol class="pagination-indicators">
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
</div>
