{{outlet}}
<div class="jumbotron deceptitron">
  <div class="container">
    <div class="page-header">
      <h1>SQL-Trainer <small>Choose trainer configuration...</small></h1>
    </div>
  </div>
</div>
<div class="container pretrainer">
  <div class="row">
    <div class="col-sm-6">
      <!-- PRETRAINER CHOICES -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Difficulty:
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn active" id="beginner">
            <input type="radio" name="options" id="beginner" autocomplete="off" checked> beginner
          </label>
          <label class="btn" id="intermediate">
            <input type="radio" name="options" id="intermediate" autocomplete="off"> intermediate
          </label>
          <label class="btn" id="advanced">
            <input type="radio" name="options" id="advanced" autocomplete="off"> advanced
          </label>
          <label class="btn" id="expert">
            <input type="radio" name="options" id="expert" autocomplete="off"> expert
          </label>
          <label class="btn" id="impossible">
            <input type="radio" name="options" id="impossible" autocomplete="off"> impossible
          </label>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Categories:
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off" checked> Joins
          </label>
          <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off"> Outer-Joins
          </label>
          <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off"> Aggregation
          </label>
          <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off"> Select
          </label>
          <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off"> Grouping
          </label>
        </div>
      </div>
      <div class="checkbox-inline">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> Hints
        </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Highlighting
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Hot-Streak
      </label>
      </div>
      <p class="text-right"><strong>130%</strong></p>
    </div>

    <div class="col-sm-6">
      <!-- LEADERBOARD -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Leaderbord SQL
        </div>
        <ul class="table-leaderboard">
          {{#table-leaderboard "1" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "2" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "3" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "4" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
          {{#table-leaderboard "5" "username" "12345" "img/achievement-logo-01.jpg"}}
          {{/table-leaderboard}}
        </ul>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="col-sm-6">
    <!-- ACHIEVEMENTS -->
    <div class="panel panel-default">
      <div class="panel-heading">
        Achievements
      </div>
      <div class="panel-body">
        <div class="row">
          {{#each model.achievements as |achievement|}}
            <div class="col-sm-3">
              {{achievement-small achievement}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <!-- QUESTS -->
    <!-- HIER DEIN STUFF CARL -->
  </div>
</div>
